@model EastWood.ViewModel.Users.HomePageViewModel
@{
    ViewBag.Title = "Index";
}

    <div class="row">
        @if (Model != null)
        {
            foreach (var course in Model.Courses.Courses)
            {
                <div class="card @(Model.Courses.Courses.IndexOf(course) == ViewBag.SelectedCourseId ? "text-white bg-primary" : "") mb-3" style="max-width: 30rem; margin:8px;">
                    <div class="card-body">
                        <h3 class="card-title">@course.CourseName</h3>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <p>Starts On : </p>
                                @course.CourseStartsOn.ToShortDateString()
                            </div>
                            <div class="col">
                                <p>Ends On : </p>
                                @course.CourseEndsOn.ToShortDateString()
                            </div>
                        </div>

                        <br />
                        <p class="card-text">Students Count : @course.StudentCourses.Count </p>
                        <p class="card-text">Coordinator : @course.CoordinatorDetails.UserFirstName @course.CoordinatorDetails.UserLastName </p>
                        <p class="card-text">@course.CourseDescription</p>
                    </div>
                </div>
            }

        }

    </div>

